.h-green {
  color: #bae67e;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid #bae67e;
  padding-bottom: 10px;
  margin: 20px;
}
.repo {
  padding: 10px 0;
  display: flex;
  flex-flow: column wrap;

  @media (min-width: 768px) {
    flex-flow: row wrap;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__card {
    width: 345px;
    background-color: #1d2433;
    margin: 20px auto;
    border: 1px solid #2f3b54;
    font-family: "Fira Code", monospace;
    border-radius: 5px;
    box-shadow: 3px 3px var(--main-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    h1 {
      font-size: 1.25rem;
      color: #e5e5e5;
      padding: 0 15px 10px;
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-top: 10px;

      img {
        margin-right: 10px;
      }
    }

    h2 {
      color: #d7dce2;
      padding: 10px 15px;
    }

    h3 {
      font-weight: 600;
      color: var(--main-color);
      padding: 0 15px;
    }

    button {
      width: 140px;
      height: 40px;
      background-color: #2f3b54;
      margin: 10px;
      border: 1px solid #1d2433;
      border-radius: 5px;
    }

    a {
      color: var(--main-color);
      font-weight: 600;
    }

    @media (min-width: 768px) {
      height: 280px;
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.red {
  --main-color: #ef6b73;
}

.purple {
  --main-color: #c3a6ff;
}

.blue {
  --main-color: #5ccfe6;
}

.green {
  --main-color: #bae67e;
}

.grey {
  --main-color: #a2aabc;
}
